#container{
  display: flex;
  text-align: center;
  flex-direction: row;
}
#lateral
{
  float: left;
  display:flex; width:20%; min-height: 300px;
  justify-content: center; background-color: rgb(173, 192, 197);
  align-items: center;
}
