*{
  font-family: Arial, Helvetica, sans-serif;
}
#content{
display: flex;
flex-direction: row;
}
#container{
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  float: left;
  justify-content: center;
  text-align: center;
  background-color: #d3d8d8;
}
#lateral{


  display:flex; flex-wrap: wrap; width:20%; height: 100vh;
  justify-content: center; background-color: lightblue;
  align-items: center;
 }
 .pnlProduto{
  font-size: 15px;
  width:200px; height: 100px; background-color: lightyellow;
  border: black solid 1px; text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5px; padding: 10px;
 }
